[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-frontmatter = "*"
markdown-it-py = "*"
mdit-plain = "*"
keybert = {extras = ["flair"], version = "*"}
keyphrase-vectorizers = "*"
bertopic = "*"
yake = "*"
pytextrank = "*"
langchain = "*"
llama-cpp-python = "<0.2.29"

[dev-packages]

[requires]
python_version = "3.9"
