<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
        "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="robots" content="index"/>

    <link rel="stylesheet" type="text/css" href="{{ '/static/design/aquanew3/aquanew3.css'|url }}" title="newer aqua"/>

    <link rel="alternate stylesheet" type="text/css" href="design/aquanew2/aquanew2.css" title="new aqua"/>
    <link rel="alternate stylesheet" type="text/css" href="design/aquaold/aquaold.css" title="old aqua"/>


    <title>Andis Homepage</title>

</head>

<body>

<div id="top">
    <!--table is only necessary for correct centering-->
    <table class="tabs"><tr><td>
        {% if this._path == '/start' %}
        <span class="llactive">[</span><a class="mactive" href="index2.html">Start</a><span class="ractive">]</span>
        {% else %}
        <span class="ll">[</span><a class="m" href="index2.html">Start</a><span class="r">]</span>
        {% endif %}


        <span class="l">[</span><a class="m" href="html.html">Computer</a><span class="r">]</span>

        <span class="l">[</span><a class="m" href="physik.html">Physik</a><span class="r">]</span>

        <span class="l">[</span><a class="m" href="bilder.html">Bilder</a><span class="r">]</span>

        <span class="l">[</span><a class="m" href="sprueche.html">Sprüche</a><span class="r">]</span>
        <span class="l">[</span><a class="m" href="http://maierandi.wikidot.com">Wiki</a><span class="r">]</span>
        <span class="l">[</span><a class="m" href="http://asmaier.blogspot.com">Blog</a><span class="r">]</span>
        <span class="l">[</span><a class="m" href="kontakt.html">Kontakt</a><span class="rr">]</span>

    </td></tr></table>
</div>

<div id="box">
    <div id="bo">
        <div id="bl">
            <div id="br">
                <div id="bu">
                    <div id="blo">
                        <div id="bro">
                            <div id="blu">
                                <div id="bru">
                                    <div id="content">
                                        {{ this.body }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>